.Item_Container {
  display: block;
  background-color: #FCE9F1;
    border: 0.3rem solid #070F2B;
    border-radius: 1.1rem;
  width: 19rem;
  height: 19rem;
}

.Item_img {
  object-fit: cover;
  cursor: pointer;
  height: 71%;
  width: 100%;
  border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
}

.Item_detail {
  display: flex;
  padding: 0.5rem 0;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Title {
  color: #070F2B;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 4px;
}
.Stacks {
  display: flex;
  /* flex: wrap; */
  gap: 5px;
  justify-content: center;
  padding: 4px;
}

.Item {
  color: #240A34;
    display: flex;
  padding: 0 0.3rem;
  /* border: 2px solid #555; */
  font-size: 1rem;
  border-radius: 4px;
}
